.box {
justify-content: center;
  width: 20rem;
  height: 40rem;
}

.action-button {
  border-radius: 8px;
  padding: 10px 30px 10px 30px;
  background-color: #0c33ba;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #fff;
}

.input-error-message {
  font-size: 12px;
  display: flex;
  color: red;
  margin-top: -10px;
}

.psw {
  float: right;
  padding-top: 16px;
}
